<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="URL_API" value="https://cai-api.azurewebsites.net" />
    <add key="Usuario" value="" />
    <add key="Clientes" value="/api/v1/Cliente" />
    <add key="Ejemplares" value="/api/v1/Biblioteca/Ejemplares" />
    <add key="Libros" value="/api/v1/Biblioteca/Libros" />
    <add key="Prestamos" value="/api/v1/Biblioteca/Prestamos" />
    <add key="Copyright" value="UBA CAI 2020 tm" />

  </appSettings>
</configuration>